spring:
  datasource:
    url: jdbc:mysql://localhost:3307/spring_security_app
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    hibernate:
      ddl-auto: validate
    show-sql: true
application:
  security:
    jwt:
      secret-key: bdf30e209bffe51f26ccb84854ed39d221f1628e3c0e2972eef4a0077a6be290
      expiration: 8640000